<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Altered.Properties.Settings.alteredConnectionString"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=altered;Persist Security Info=True;User ID=Admin;Password=UPnet979AS#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>